body{
  background: hsl(228deg 45% 96%);
  padding: 24px;
}
.summary-box-container{
  background: white;
  width: 300px;
}
.summary-box-time-container{
  display: flex;
  justify-content: space-between;
}
